<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@Model.NovelTitle</title>
</head>
<body>
<h1>@Model.NovelTitle</h1>
<br/>
@foreach (var chapter in Model.Chapters)
{
    <h2>@chapter.ChapterTitle</h2>
    @foreach (var line in chapter.Lines)
    {
        if (string.IsNullOrWhiteSpace(line))
        {
            //<br></br>
        }
        else
        {
            <p>@line</p>
        }
    }
}
</body>
</html>